* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* variables */
:root {
  --background-primary-color--: #000000;
  --text-primary-color--: #ffffff;
  --text-secondary-color--: #66fcf1;
}

/*  */

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ************************************************************** */
/* Header */
/* ************************************************************** */
.header {
  background-color: var(--background-primary-color--);
}

.nav-links {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-primary-color--);
}

/* ************************************************************** */
/* Hero Section  */
/* ************************************************************** */
.hero-section {
  background-color: var(--background-primary-color--);
}

.hero p {
  font-size: 8rem;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--text-primary-color--);
}

.hero span {
  font-size: 2rem;
  color: var(--text-secondary-color--);
}

.cta {
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid var(--text-secondary-color--);
  background-color: var(--background-primary-color--);
  color: var(--text-primary-color--);
  text-transform: uppercase;
}

/* ************************************************************** */
/* About Section  */
/* ************************************************************** */
.about-section {
  background-color: var(--background-primary-color--);
}

.about-text h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 4.8rem;
  color: var(--text-primary-color--);
}

.about-text p {
  font-size: 1.8rem;
  line-height: 3.4rem;
  color: var(--text-primary-color--);
}

.btn-normal {
  font-size: 1.6rem;
  text-transform: uppercase;
}

/* ************************************************************** */
/* Services Section  */
/* ************************************************************** */
.services-section {
  background-color: var(--background-primary-color--);
}

.services-section h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 4.8rem;
  color: var(--text-primary-color--);
}

.icons {
  font-size: 4.2rem;
  color: var(--text-secondary-color--);
}

.service span {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--text-primary-color--);
}

.service p {
  color: var(--text-primary-color--);
  font-size: 1.6rem;
  line-height: 3.2rem;
}

/* ************************************************************** */
/* Experience Section  */
/* ************************************************************** */
.experience-section {
  background-color: var(--background-primary-color--);
}

.experience-section h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 4.8rem;
  color: var(--text-primary-color--);
}

/* ************************************************************** */
/* Contact Section  */
/* ************************************************************** */
.contact-section {
  background-color: var(--background-primary-color--);
}

.contact-section h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 4.8rem;
  color: var(--text-primary-color--);
}

.contact-text p {
  font-size: 1.8rem;
  line-height: 3.4rem;
  color: var(--text-primary-color--);
}

.contact-icons {
  font-size: 2.4rem;
  color: var(--text-secondary-color--);
}

.footer-links {
  font-size: 1.6rem;
  color: var(--text-primary-color--);
  text-decoration: none;
}

/* ************************************************************** */
/* Footer Section  */
/* ************************************************************** */
.footer-section {
  background-color: var(--background-primary-color--);
}

.footer p {
  font-size: 1.2rem;
  color: var(--text-primary-color--);
}

.social-media {
  font-size: 2rem;
  color: var(--text-primary-color--);
}
