* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* variables */
:root {
  --background-primary-color--: #000000;
  --background-secondary-color: #0b0c10;
  --background-tertiary-color--: #121212;
  --text-primary-color--: #ffffff;
  --text-secondary-color--: #66fcf1;
}

/*  */

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ************************************************************** */
/* Header */
/* ************************************************************** */
.header {
  background-color: var(--background-primary-color--);
  padding: 2.4rem 0 0 0;
}

.nav {
  margin: 0 0 0 68rem;
}

.nav-links {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-primary-color--);
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0 3.2rem 0 0;
}

/* ************************************************************** */
/* Hero Section  */
/* ************************************************************** */
.hero-section {
  background-color: var(--background-primary-color--);
  padding: 9.6rem 0;
  height: 100vh;
  background-image: url(/assets/duck\ hero\ image-PhotoRoom.png-PhotoRoom.png);
  background-repeat: no-repeat;
  background-position: 145%;
  background-position-y: 40%;
}

.hero-text {
  width: 70rem;
  margin: 8.2rem 0 0 20rem;
}

.hero-text h1 {
  font-size: 7.6rem;
  text-transform: capitalize;
  font-weight: 800;
  line-height: 8rem;
  letter-spacing: 2px;
  color: var(--text-primary-color--);
  margin: 2.2rem 0 6rem 0;
}

.hero-text span {
  font-size: 2.6rem;
  color: var(--text-secondary-color--);
  font-weight: 100;
}

.cta {
  font-size: 1.7rem;
  font-weight: 600;
  border: 2px solid var(--text-secondary-color--);
  background-color: var(--background-primary-color--);
  color: var(--text-primary-color--);
  text-transform: uppercase;
  padding: 1.6rem 2.4rem;
}

/* ************************************************************** */
/* About Section  */
/* ************************************************************** */

.about-section {
  background-color: var(--background-primary-color--);
  padding: 0 0 46rem 20rem;
  height: 60vh;
}

.about-text h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 4.8rem;
  color: var(--text-primary-color--);
  margin-bottom: 4rem;
}

.about-text p {
  font-size: 1.8rem;
  line-height: 3.6rem;
  color: var(--text-primary-color--);
  width: 50%;
}

.btn-normal {
  margin-top: 7rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-left: 2rem;
  font-weight: 600;
  padding: 1.6rem 2.4rem;
  color: var(--background-primary-color--);
  background-color: var(--text-secondary-color--);
  border: 1px solid var(--text-secondary-color--);
}

/* ************************************************************** */
/* Services Section  */
/* ************************************************************** */
.services-section {
  background-color: var(--background-secondary-color);
  padding: 9.6rem 0 2rem 20rem;
}

.service {
  background-color: var(--background-tertiary-color--);
  padding: 4rem 6rem;
  width: 50rem;
  margin: 2rem;
}

.services-section h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 4.8rem;
  color: var(--text-primary-color--);
  margin-bottom: 6rem;
}

.icons {
  font-size: 4.2rem;
  color: var(--text-secondary-color--);
  margin-bottom: 4rem;
}

.service span {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--text-primary-color--);
}

.service p {
  color: var(--text-primary-color--);
  font-size: 1.6rem;
  line-height: 3.2rem;
  margin-top: 4.2rem;
}

/* ************************************************************** */
/* Experience Section  */
/* ************************************************************** */
.experience-section {
  background-color: var(--background-primary-color--);
  padding: 9.6rem 0 2rem 20rem;
}

.experience-section h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 4.8rem;
  color: var(--text-primary-color--);
  margin-bottom: 6rem;
}

/* ************************************************************** */
/* Contact Section  */
/* ************************************************************** */
.contact-section {
  background-color: var(--background-secondary-color);
  padding: 9.6rem 0 2rem 20rem;
}

.contact-section h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 4.8rem;
  color: var(--text-primary-color--);
  margin-bottom: 6rem;
}

.contact-text p {
  font-size: 3.2rem;
  line-height: 3.4rem;
  color: var(--text-primary-color--);
  margin-bottom: 6rem;
}

.contact-icons {
  font-size: 2.4rem;
  color: var(--text-secondary-color--);
}

.footer-icons-text {
  margin-bottom: 2rem;
}

.footer-links {
  font-size: 1.6rem;
  color: var(--text-primary-color--);
  text-decoration: none;
}

/* ************************************************************** */
/* Footer Section  */
/* ************************************************************** */
.footer-section {
  background-color: var(--background-primary-color--);
}

.footer p {
  font-size: 1.2rem;
  color: var(--text-primary-color--);
}

.social-media {
  font-size: 2rem;
  color: var(--text-primary-color--);
}
